/* Css Property Ordering
{
	- Display
	- Positioning
	- Box Model
	- Colors and Typography
	- Other
}
*/

/***************************************/
/* Import Nunito Sans font from google */
/***************************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Nunito Sans', sans-serif;
	transition: all 0.3s;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html {
	font-size: 16px;
}

i,
button {
	font-weight: 400;
}

button:focus{
	outline: none !important;
}

h2 {
	font-weight: 800;
}

h5 {
	font-weight: 700;
}

a, a:hover{
	text-decoration: none;
	color: #424242;
}

/* Background */
.bg-wave-pattern {
	background: #f5f5f5 url('../img/bg-waveline.png') no-repeat center bottom;
	background-size: 100%;
}

/* Buttons */
.sentie-btn-green {
	border: 1px solid #8eaf04;
	background-color: #8eaf04;
}

.sentie-btn-grey {
	color: white !important;
	border: 1px solid #424242;
	background-color: #424242;
}

.sentie-btn-grey:hover {
	filter: brightness(1.4) !important;
}

.sentie-btn-primary {
	padding: 0.5rem;
	color: white;
	border-radius: 8px;
	font-weight: 300 !important;
}

.sentie-btn-primary:hover{
	filter: brightness(1.1);
}

.sentie-btn-secondary {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid #424242;
}

.sentie-btn-secondary:hover {
	filter: brightness(.9);
}

.sentie-btn-cancel {
	position: absolute;
	border: none;
	background-color: rgba(0, 0, 0, 0.0);
	color: #9e9e9e;
}

@media (max-width: 490px) {
	/* Stack More Info button and Demo App Code button vertically */
	.demo-app-btn-container {
		flex-direction: column !important;
	}

	/* Stack Cancel button below the function button, use together with .flex-column-reverse .flex-sm-row */
	.sentie-btn-cancel {
		position: static !important;
	}
} 


/*************************/
/* Card Button Component */
/*************************/
.sentie-card-btn {
	padding: 1rem;
	border-radius: 16px;
	background-color: white;
}

.sentie-card-btn p {
	margin: 2rem auto;
	font-size: 1rem;
	color: #848484;
	max-width: 240px;
}

@media (max-width: 576px) {
	.bg-wave-pattern {
		background-position: 10% bottom;
		background-size: 200%;;
	}
}

/******************************/
/* Card With Number Component */
/******************************/
.sentie-card-num {
	border-radius: 8px;
	text-align: center;
}
.sentie-card-num-header {
	margin: 0px;
	padding: 8px;
	background-color: #230a59;
	color: white;
	border-radius: 8px 8px 0px 0px;
}
.sentie-card-num-content {
	margin: 0px;
	padding: 16px;
	background-color: white;
	border-radius: 0px 0px 8px 8px;
}

/************************/
/* Hover toggle tooltip */
/************************/
.hover-tool-tip {
	display: inline-block;
}

.hover-tool-tip .hover-tool-tip-content{
font-size: 14px;
padding: 16px;
display: none;
border-radius: 4px;
position: absolute;
left: 50%;
backdrop-filter: blur(2px);
background-color: rgba(0, 0, 0, 0.7);
cursor: pointer;
color: white;
}

.hover-tool-tip:hover .hover-tool-tip-content,
.hover-tool-tip:focus .hover-tool-tip-content{
	display: block;
	z-index: 99;
	}

/***********************/
/* Single Pic Uploader */
/***********************/
#single-pic-uploader, #video-uploader {
	max-width: 480px;
	border: 2px dashed #ccc;
	border-radius: 16px;
	background: rgba(142, 175, 4, 0);
}
#single-pic-uploader i, #video-uploader i {
	font-size: 100px;
	color: #8eaf04;
	opacity: 30%;
}
#single-pic-uploader input, #video-uploader input {
	display: none;
}
/*.highlight will be added when user drag file above uploader area*/
#single-pic-uploader.highlight, #video-uploader.highlight {
	border-color: #8eaf04;
	background: rgba(142, 175, 4, 0.05);
}
#single-pic-uploader.highlight i, #video-uploader.highlight i {
	opacity: 100%;
}
#single-pic-preview img, #video-preview video {
	margin: auto;
	max-height: 60vh;
	max-width: 100%;
	display: block;
	box-sizing: border-box;
	border: 10px white solid;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Latest Update 2020-Oct-12 */